<footer class="footer">  
    <div class="container">
      <div class="row">
        <div class="col-12">
  
          <div class="footer__inner">
            <div class="container">
              <div class="row">
        
                <div class="col col-d-12">
                  <div class="footer__author">
                    <div class="footer__author-avatar">
                      <img class="lazy loaded" alt="Ernst Luring" data-ll-status="loaded" src="/public/Ernst2.png">
                    </div>
                    <div class="footer__author-info">
                      <h3 class="footer__author-name">Ernst Luring</h3>
                      <p class="footer__author-bio">So, If you're looking for designs that have a high visual impact on your target audience, while also aligning with your brand, Let's talk about your project in more detail.</p>
                      
                      <div class="social">
                        <ul class="social__list list-reset">
                          
                          <li class="social__item">
                            <a class="social__link" href="https://twitter.com" target="_blank" rel="noopener" aria-label="Social link"><i class="ion ion-logo-twitter"></i></a>
                          </li>
                          
                          <li class="social__item">
                            <a class="social__link" href="https://facebook.com" target="_blank" rel="noopener" aria-label="Social link"><i class="ion ion-logo-facebook"></i></a>
                          </li>
                          
                          <li class="social__item">
                            <a class="social__link" href="https://instagram.com" target="_blank" rel="noopener" aria-label="Social link"><i class="ion ion-logo-instagram"></i></a>
                          </li>
                          
                          <li class="social__item">
                            <a class="social__link" href="https://pinterest.com" target="_blank" rel="noopener" aria-label="Social link"><i class="ion ion-logo-pinterest"></i></a>
                          </li>
                          
                          <li class="social__item">
                            <a class="social__link" href="https://github.com" target="_blank" rel="noopener" aria-label="Social link"><i class="ion ion-logo-github"></i></a>
                          </li>
                          
                        </ul>
                      </div>
                      
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="footer__info">
            <div class="footer__info-box">
              <div class="copyright">2022 © <a href="/">Ernst Luring</a> Built with <a href="https://jekyllrb.com/">Jekyll</a><br></div>
              <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </footer>