<!-- begin testimonials -->
<section class="section testimonials animate">
  <div class="container">
    <div class="row">
      <script
        type="text/javascript"
        src="https://testimonial.to/js/iframeResizer.min.js"
      ></script>
      <iframe
        id="testimonialto-carousel-all-ejldigital-light"
        src="https://embed.testimonial.to/carousel/all/ejldigital?theme=light&autoplay=off&showmore=off&one-row=off&same-height=off"
        frameborder="0"
        scrolling="no"
        width="100%"
      ></iframe>
      <script type="text/javascript">
        iFrameResize(
          { log: false, checkOrigin: false },
          "#testimonialto-carousel-all-ejldigital-light"
        );
      </script>
    </div>
  </div>
</section>
<!-- end testimonials -->
