<section class="section testimonials">
    <div class="container">
        <div class="row">
            <div class="col col-12">

                <div class="section__info">
                    <div class="section__head">
                        <h2 class="section__title">Testimonials</h2>
                    </div>
                </div>


                <!-- <iframe id="testimonialto-ejldigital-light"
                    src="https://embed.testimonial.to/w/ejldigital?theme=light&card=base&randomize=on" frameborder="0"
                    scrolling="no" width="100%"></iframe> -->

                <script type="text/javascript" src="https://testimonial.to/js/iframeResizer.min.js"></script>
                <iframe id="testimonialto-ejldigital-light"
                    src="https://embed.testimonial.to/w/ejldigital?theme=light&card=base&randomize=on" frameborder="0"
                    scrolling="no" width="100%"></iframe>
                <script
                    type="text/javascript">iFrameResize({ log: false, checkOrigin: false }, "#testimonialto-ejldigital-light");</script>


                <!-- <script type="text/javascript" src="https://testimonial.to/js/iframeResizer.min.js"></script>
                <iframe id="testimonialto-carousel-all-ejldigital-light"
                    src="https://embed.testimonial.to/carousel/all/ejldigital?theme=light&autoplay=off&showmore=off&one-row=off&same-height=off"
                    frameborder="0" scrolling="no" width="100%"></iframe>
                <script
                    type="text/javascript">iFrameResize({ log: false, checkOrigin: false }, "#testimonialto-carousel-all-ejldigital-light");</script> -->
            
            </div>
        </div>
    </div>
</section>