<section class="section testimonials">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">Testimonials</h2>
          </div>
        </div>

        <iframe
          src=""
          id="testimonialto-carousel-all-ejldigital-light"
          data-src="https://embed.testimonial.to/carousel/all/ejldigital?theme=light&autoplay=off&showmore=off&one-row=off&same-height=off"
          frameborder="0"
          scrolling="no"
          width="100%"
        ></iframe>
        <script>
          let testimonialScript = document.createElement("script");
          testimonialScript.setAttribute("type", "text/javascript");
          testimonialScript.setAttribute(
            "src",
            "https://testimonial.to/js/iframeResizer.min.js"
          );
          testimonialScript.onload = () => {
            window.iFrameResize(
              { log: false, checkOrigin: false },
              "#testimonialto-carousel-all-ejldigital-light"
            );
            function deferIframe() {
              var iframeElem = document.getElementById(
                "testimonialto-carousel-all-ejldigital-light"
              );
              iframeElem.setAttribute(
                "src",
                iframeElem.getAttribute("data-src")
              );
            }
            window.onload = deferIframe;
          };
          document.body.appendChild(testimonialScript);
        </script>
      </div>
    </div>
  </div>
</section>
