<div class="container__inner">
  <div class="section__info">
    <h2 class="section__title">Latest works</h2>
  </div>

  <div class="row">
    {% for work in site.latest_work %}
    <article class="project col col-6 col-d-6 col-t-12">
      <div class="project__content">
        <span class="project__image">
          <img
            class="lazy loaded fill__image"
            alt="Image of {{work.title}}"
            data-ll-status="loaded"
            src="{{work.img}}"
          />
        </span>
        <div class="project__info">
          <h3 class="project__title">{{work.title}}</h3>
          <div class="project__subtitle">{{work.company}}</div>
          <div class="project__skills">{{work.type}}</div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>

  <div class="section__more">
    <a href="/portfolio">
      <div class="button">See more</div>
    </a>
  </div>
</div>
