/**
 * Site header
 */
.site-header {
    background-color: $green-color;
    background-image: url(../img/pattern-game.png);
    background-blend-mode: multiply;;

    border-top: 3px solid $green-color-dark;
    min-height: 57px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    position: relative;
    font-size: 18px;
    color: $green-color-light;
    float: left;
    margin-top: 16px;
    margin-left: 20px;

    ul {
      margin-left: 20px;
      list-style-type: square;
    }

    li {
      float: left;
      text-indent: -6px;
      margin-right: 40px;
    }

}

.site-title a {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1px;
    display: block;

    &,
    &:visited {
        color: $green-color-light;
    }
    &:hover {
        text-decoration: none;
    }
}

.site-title span {
    letter-spacing: 0px;
    position: absolute;
    top: 55px;
    display: inline-block;
}

.title-image {
    float: left;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;

    width: 90px;
    height: 90px;
    background-color: $green-color-light;

    display: flex;
    font-size: 55px;
    color: $green-color;

    justify-content: center;
    align-items: center;

    .title-image-link {
      color: $green-color;
      &:hover {
        text-decoration: none;
      }
    }
}

.site-nav {
    float: right;
    margin-top: 32px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $green-color-light;
        font-size: 25px;
        // display: block;
        border-bottom: 2px solid $green-color-light;
        text-decoration: overline;


        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
            // text-decoration: none;
            border-bottom: 0px;
            // border-bottom: 2px solid $green-color-light;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $green-color;
        border: 1px solid $green-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $green-color-light;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
  // border-bottom: 3px double $green-color-dark;
  // padding-bottom: 3px;
  color: $green-color-dark;
  font-size: $page-title-size;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    // margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $page-title-size;
    color: $green-color-dark;
    // letter-spacing: -1px;
    // line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.image-border {
    border: 3px solid black;
}
