
/* Setting Variables */
:root {
    --soft-white: #F5F5F5;
    --soft-black: #2d2d2d;
    --greenish: #52AA8A;

    --lato: 'Lato', sans-serif;
    --fs-reg: 18px;

    --site-max-width: 70rem;
    --menu-max-width: 40rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
} 


html, body {
    background: var(--soft-white);
    color: var(--soft-black);
    font-family: var(--lato);
    font-size: var(--fs-reg);
    line-height: 1.5;
    box-sizing: border-box;
}
a, a:visited {
    color: var(--greenish);
    text-decoration: none;
}
a:hover {
    color: var(--soft-black);
    text-decoration: underline;
}
main {
    margin: auto;
    max-width: var(--site-max-width);
    padding-top: 1rem;
}
pre {
    background: white;
    overflow: scroll;
    padding: 1rem;
}
td {
    border: 1px solid var(--soft-black);
    padding: 10px;
}
img {
    height: auto;
    max-width: 100%;
}
footer {
    text-align: center;
}

header {
    text-align: center;
}
header > h3 {
    margin-top:0;
}

.profile-picture {
    margin: auto;
    border-radius: 50%;
    width: 96px;
    height: 96px;
}

.menu {
    padding: 1rem 0;
    list-style: none;
    margin: auto;
    max-width: var(--menu-max-width);
}

.menu > li > a {
    color: white;
    list-style-type: none;
    text-align: center;
    display: block;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    margin: 20px 0 20px 0;
    border: solid;
    border-color: #52AA8A;
    border-width: 2px;
    background-color: #52AA8A;
    font-weight: bold;
}

.menu > li > a:hover {
    background-color: var(--soft-white);
    color: var(--soft-black);
    text-decoration: none;
    font-weight: bold;
}


